<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="/result" method="post">
    <h1>Calculator simple !</h1>
    <h2>Enter number A </h2>
    <input type="number" name="a" placeholder="Number A">
    <h2>Enter number B </h2>
    <input type="number" name="b" placeholder="Number b">
    <select name="math" >
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="x">x</option>
        <option value="/">/</option>
    </select>
    <button type="submit">Calculate</button>
</form>

</body>
</html>